extends ../base.pug

block content
    h4 Update Video
    form(method='POST')
        input(name="url", placeholder="URL" required value=video.url)
        input(name="title" placeholder="Title" required maxlength="50" value=video.title)
        input(name="description" placeholder="Description" required maxlength="300" value=video.description)
        input(name="uploader" placeholder="Uploader" required value=video.uploader)
        input(name="category" placeholder="Category" required value=video.category)
        input(name='tags', placeholder="Tags, Seperated by comma." value=video.tags.join())
        input(value='Save' type='submit')