extends ../base.pug

block content
    div#video-container(data-id=`${video._id}` data-url=`${video.url}`)
        if !video.youtubeVideo
            video(src=`${video.url}`)
            div.controls-container
                div.controls__play
                    span#play.controls__playBtn
                        i.fas.fa-play
                    div.controls__time
                        span#current-time 00:00
                        span  / 
                        span#total-time 00:00
                input(type="range" min="0" step="1" value="0")#timeline
                div.controls__volume
                    input(type="range" min="0" max="1" step="0.02" value="0.5")#volume
                    span#mute
                        i.fas.fa-volume-high
                div.controls__function
                    span#loop
                        i.fas.fa-arrows-rotate
                    span#fullscreen
                        i.fas.fa-expand
        else
            iframe(id="player" type="text/html" src=`https://www.youtube.com/embed/${video.url}?rel=0&enablejsapi=1` frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    div.video__information-section
        div.video__title
            each tag in video.tags
                span.video__title-tag #{tag}
            h1.video__title-header #{video.title}
            div.video__title-owner
                a(href=`/users/${video.owner._id}`).video__title-avatar
                    if video.owner.avatarUrl
                        img(src=`${video.owner.avatarUrl}`)
                    else
                        div.video__avatar-icon
                            i(class="fas fa-user")
                if video.owner._id
                    a(href=`/users/${video.owner._id}`).video__title-username #{video.owner.username}
                else
                    span.video__title-username 삭제된 사용자
                button.video__title-groupBtn + 그룹에 추가하기
        div.video__description
            div.video__description-meta 
                span 조회수: #{video.meta.views}회 · 
                span(data-date=`${video.createdAt}`).video__description-createdAt 업로드: #{video.createdAt}
            p.video__description-text
                each text in video.description.split(/\n/g)
                    | #{text}<br>
            button.video__description-more 더보기
    - if (String(loggedInUser._id) === String(video.owner._id))
        div.owner-section
            a(href=`/videos/${video._id}/edit`) 동영상 정보 수정
            button(data-id=`${video._id}`).video__delete-btn 동영상 삭제
    div.video__comment-section
        div.video__add-comment
            if loggedIn
                form.video__comment-form
                    textarea(rows="1", placeholder="댓글을 작성해주세요", maxlength="299" spellcheck="false").video__comment-textarea
                    button(type="submit", disabled).video__comment-btn 작성
            else
                form.video__comment-form
                    textarea(rows="1", placeholder="로그인 후 이용해주세요.", disabled).video__comment-textarea
                    button(type="submit", disabled).video__comment-btn 작성
        div.video__comments
            each comment in video.comments
                div.video__comment
                    a(href=`/users/${comment.owner._id}`).comment__avatar
                        if comment.owner.avatarUrl
                            img(src=`${comment.owner.avatarUrl}`)
                        else
                            div.comment__avatar-icon
                                i(class="fas fa-user")
                    a(href=`/users/${comment.owner._id}`).comment__owner=comment.owner.username
                    div.comment__created=comment.createdAt
                    div.comment__text=comment.text
                    if comment.owner._id == loggedInUser._id
                        button.comment__remove.fas.fa-xmark(data-id=comment._id)

block scripts
    if !video.youtubeVideo
        script(src="/assets/js/videoPlayer.js" type="text/javascript")
    else
        script.
            const localStorage = window.localStorage;
            let mute = 0;
            let loop = 0;
            if (Boolean(localStorage.getItem("mute"))) {
                mute = 1;
            }
            if (Boolean(localStorage.getItem("loop"))) {
                loop = 1;
            }
            const videoContainer = document.getElementById("video-container");

            var tag = document.createElement("script");
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName("script")[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            //  after the API code downloads.
            let player;
            function onYouTubeIframeAPIReady() {
            player = new YT.Player("player", {
                mute: mute,
                loop: loop,
                rel: 0,
                events: {
                onReady: onPlayerReady,
                onStateChange: onPlayerStateChange,
                },
            });
            }

            // 1) 동영상이 준비되면 발생하는 함수
            function onPlayerReady(event) {
            }

            // 2) 플레이어의 상태에 따른 이벤트
            function onPlayerStateChange(event) {
                if (event.data === 0) {
                    console.log("동영상 종료");
                    const { id } = videoContainer.dataset;
                    fetch(`/api/videos/${id}/view`, {
                    method: "POST",
                    });
                }
            }
    script(src="/assets/js/videoFunction.js") 
    script(src="/assets/js/commentSection.js")