extends ../base.pug

block content
    video(src=`${video.url}` controls)
    div
        p #{video.description}
        small #{video.createdAt}
    div
        small Uploaded By #{owner.username}
    if String(video.owner) === String(loggedInUser._id)
        ul 
            li
                a(href=`${video.id}/edit`) Edit Video &rarr;
            li
                a(href=`${video.id}/delete`) Delete Video  &rarr;