mixin video(video)
    div(class=`youtube-${video.youtubeVideo}`).video-container
        a(href=`/videos/${video.id}`).video-mixin 
            div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;`)
        div.video-mixin__data
            a(href=`/users/${video.owner._id}`).video-mixin__avatar
                if video.owner.avatarUrl == undefined
                    i(class="fa-solid fa-user")
                else
                    img(src=`${video.owner.avatarUrl}`)
            a(href=`/videos/${video.id}`).video-mixin__title #{video.title}
            a(href=`/users/${video.owner._id}`).video-mixin__username=video.owner.username
            div.video-mixin__meta
                span 조회수 #{video.meta.views} 회 · 
                span.video-mixin__createdAt #{video.createdAt}
